
<div class="row">

  {{#each allShifts }}
    <div class=" test one columns">
    <h6 class="{{color}}">{{weekday}}</h6>
    {{#each waiter}}
     <h6>{{names}}</h6>
     {{/each}}
    </div>  
    {{/each}}

    <a href="/clear">Reset</a>

</div>
    
  