body{
  margin-top: 10px;
background-color: #f9f9f9;
}

.test{
  display: inline-table;
}

.green{
  background-color:green;
  padding: 5px;
  color: white;
}

.crimson{
  background-color: crimson;
  padding: 5px;
  color: white;
}

.orange{
  background-color: orange;
  padding: 5px;
  color: white;
}

.greet{
  text-transform: capitalize;
}

label{
  display: inline-block;
}

.days{
  display: inline-block;
  margin-left: 5px;
}

.booked{
  text-align: center;
}

.break{
  display: block;
  text-align: center;
}

.but{
  text-align: center;
}

span{
  color: blue;
  font-size: 1em;
}

.medium.material-icons{
  font-size: 0.8em;
}

/* Larger than tablet */
@media (max-width: 750px) {
  .days{
    display:block;
}